/* Footer styling */
footer {
    text-align: center;
    padding: 15px;
    background-color: #4267B2;
    color: white;
}

.flogo {
    font-family: "Rochester", serif;
}

p>a {
    color: white;
    text-decoration: none;
}


.flogo {
    font-size: 30px;
    font-weight: bold;
}

@keyframes loveBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animated-love {
    display: inline-block;
    animation: loveBounce 2s infinite;
}

.endlove {
    animation-delay: 1s;
}