@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 10px;
}

input[type="submit"] {
    margin-left: 20px;
    width: 90%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.loginHere {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.loginHere>a {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}